<footer class="footer" role="contentinfo">
  {% include svg-icons.html %}
  {% if page.title == "About" and site.pgp-key.show %}
  <p class="pgp-key">
    <a href="{{ site.pgp-key.url }}">PGP:
    <code>{{ site.pgp-key.fingerprint }}</code></a>
  </p>{% endif %}
  {% assign earliestPost = site.posts | last %}{% assign earliestDate = earliestPost.date | date: "%Y" %}{% assign currentDate = site.time | date: "%Y" %}
  <span class="copyright">
    &copy; {{ earliestDate }}
    {% if earliestDate != currentDate %} – {{ currentDate }}{% endif %} {{ site.author.name }}
  </span>
</footer>