<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" xml:lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="{{ '/favicon.ico?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--[if IE]>
      <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    {% feed_meta %}
    {% seo %}
  </head>

  <body>
    <header role="banner">
      <div class="container">
        <h1><a href="{{ '/' | relative_url }}" class="site-name">{{ site.title | default: site.github.repository_name }}</a></h1>
        <h2>&#8211; {{ site.slogan | default: site.github.project_tagline }} &#8211;</h2>
        {% include navigation.html %}
      </div>
    </header>
    <div class="container">
      <main id="main_content" role="main">
        {{ content }}
      </main>
    </div>
    {% include footer.html %}
    <script>document.addEventListener('contextmenu', event => event.preventDefault());</script>
  </body>
</html>